data/
*.duckdb
**/env/
**/venv/
secrets
**/secrets.yaml
**/profiles.yml
**/db_etl/clickhouse_database/
**/clickhouse_database/
**/clickhouse_logs/
**/archive/
**/certs/
**/db_etl/mysql/
ds-reporting-logic/
ds-reporting-scheduling/
