<clickhouse>
    <remote_servers>
        {% for cluster in clickhouse.clusters %}
        <{{ cluster.name }}>
            {% for shard in cluster.shards %}
            <shard>
                {% for replica in shard.replicas %}
                <replica>  
                    <host>{{ replica.host }}</host>
                    <port>{{ replica.port }}</port>
                </replica>  
                {% endfor %}
            </shard>
            {% endfor %}
        </{{ cluster.name }}>
        {% endfor %}
    </remote_servers>

    <keeper_server>
        <tcp_port>{{ clickhouse.keeper_server.tcp_port }}</tcp_port>  
        <server_id>{{ clickhouse.keeper_server.server_id }}</server_id>  
        <log_storage_path>{{ clickhouse.keeper_server.log_storage_path }}</log_storage_path>  
        <snapshot_storage_path>{{ clickhouse.keeper_server.snapshot_storage_path }}</snapshot_storage_path>  
    
        <coordination_settings>  
            <operation_timeout_ms>{{ clickhouse.keeper_server.operation_timeout_ms }}</operation_timeout_ms>  
            <session_timeout_ms>{{ clickhouse.keeper_server.session_timeout_ms }}</session_timeout_ms>  
            <raft_logs_level>{{ clickhouse.keeper_server.raft_logs_level }}</raft_logs_level>  
        </coordination_settings>  
    
        <raft_configuration>  
            {% for server in clickhouse.keeper_server.raft_configuration %}
            <server>  
                <id>{{ server.id }}</id>
                <hostname>{{ server.hostname }}</hostname>
                <port>{{ server.port }}</port>
            </server>
            {% endfor %}
        </raft_configuration> 
    </keeper_server>
</clickhouse>