<clickhouse>
    <openSSL>
        <server>
            <!--REPLACEMEWITHHOST is changed when setup.sh is run -->
            <caConfig>{{ remote_certs_dir }}/ca.cert.pem</caConfig>
            <certificateFile>{{ remote_certs_dir }}/{{ ssl_cert_common_name }}.cert.pem</certificateFile>
            <privateKeyFile>{{ remote_certs_dir }}/{{ ssl_cert_common_name }}.key.pem</privateKeyFile>
            <!-- <dhParamsFile>/etc/custom_certs/dhparam.pem</dhParamsFile>	may need in future		     -->
            <!-- TODO Change this back to relaxed then figure out how to pass the correct files -->
            <verificationMode>relaxed</verificationMode>
            <loadDefaultCAFile>false</loadDefaultCAFile>
            <cacheSessions>true</cacheSessions>
            <disableProtocols>sslv2,sslv3,tlsv1,tlsv1.1</disableProtocols>
            <preferServerCiphers>true</preferServerCiphers>
            <cipherList>TLSv1.2:TLSv1.3</cipherList>
            <invalidCertificateHandler>
                <name>RejectCertificateHandler</name>
            </invalidCertificateHandler>
        </server>
        <client> <!-- Used for connecting to https dictionary source and secured Zookeeper communication -->
            <loadDefaultCAFile>true</loadDefaultCAFile>
            <cacheSessions>true</cacheSessions>
            <disableProtocols>sslv2,sslv3,tlsv1,tlsv1.1</disableProtocols>
            <preferServerCiphers>true</preferServerCiphers>
            <cipherList>TLSv1.2:TLSv1.3</cipherList>
            <!-- Use for self-signed: <verificationMode>none</verificationMode> -->
            <invalidCertificateHandler>
                <!-- Use for self-signed: <name>AcceptCertificateHandler</name> -->
                <name>RejectCertificateHandler</name>
            </invalidCertificateHandler>
        </client>
    </openSSL>
</clickhouse>