<clickhouse>
    <max_table_size_to_drop>0</max_table_size_to_drop>
    <max_partition_size_to_drop>0</max_partition_size_to_drop>
    <max_server_memory_usage_to_ram_ratio>0.9</max_server_memory_usage_to_ram_ratio>
    <!-- https://clickhouse.com/docs/en/operations/backup -->
    <storage_configuration>
        <disks>
            <backups>
                <type>local</type>
                <path>/var/backups/</path>
            </backups>
        </disks>
    </storage_configuration>
    <backups>
        <allowed_disk>backups</allowed_disk>
        <allowed_path>/var/backups/</allowed_path>
    </backups>
</clickhouse>